@import "tailwindcss";
.input {
  @apply w-full rounded-md border border-gray-300 px-3 py-2 text-sm
    focus:outline-none focus:ring-1 focus:ring-green-700 focus:border-green-500;
}

.primary-button{
   @apply bg-green-700 text-white rounded-lg shadow-md hover:bg-green-500
}
.secondary-button {
  @apply bg-green-600 hover:bg-green-700 text-white font-semibold rounded;
}

.clear-button{
   @apply bg-red-500 text-white rounded-lg shadow-md hover:bg-red-700
}