@import "tailwindcss";
.input {
  @apply w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-green-500 outline-none;
}

.primary-button{
   @apply bg-green-700 text-white rounded-lg shadow-md hover:bg-green-500
}
.secondary-button {
  @apply bg-green-600 hover:bg-green-700 text-white font-semibold rounded;
}

.clear-button{
   @apply bg-red-500 text-white rounded-lg shadow-md hover:bg-red-700
}
.react-international-phone-input {
  @apply w-full border border-gray-300 rounded-lg p-2 outline-none;
}
.react-international-phone-input-container{
  @apply w-full focus:ring-2 focus:ring-green-500 outline-none;
  
}
.react-international-phone-country-selector-button__button-content{
  @apply m-2 p-1;
}

.main-table-header{
  @apply sticky top-0 bg-green-700 z-10 rounded text-white;
}